/* general styles */
html {
  background-color: #EEE;
}

canvas {
  display: block;
}

body {
  margin-bottom: 10px;
  font-size: 2.5em;
}

h2 {
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 95%;
}

.mood-tile {
  min-height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.selector {
  box-sizing: border-box;
  height: 50px;
  width: 15px;
  border: 5px solid white;
  position: relative;
  top: -50px;
  left: 150px;
}

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}

.bar {
  box-sizing: border-box;
  height: 50px;
  width: 300px;
  border-radius: 0;
  border: 0;
}

/* new mood styles */
#mood-picker > input {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#mood-picker > button {
  color: #CCC;
  -moz-transition: -moz-transition 0.5s;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
}

button:hover {
  -moz-box-shadow: 0 0 5px #000;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

.color-selector {
  margin-top: -40px;
  margin-bottom: -40px;
}

.mood-new {
  float: left;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/* mood index styles */
.mood-index {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.mood {
  width: 300px;
}