<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mood Ring</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script data-main="static/js/main" src="static/js/lib/require.js"></script>
	</head>
	<body>
    <div class="container clearfix">
      <div class="mood-new">
        <form id="mood-picker">
          <input type="text" id="mood-name" class="bar" placeholder="how are you?"></input>
          <div class="preview mood-tile">
          </div>
          <div class="shade-selector">
            <canvas id="shade-canvas">
            </canvas>
            <div class="shade-picker selector">
            </div>
          </div>
          <div class="color-selector">
            <canvas id="color-canvas">
            </canvas>
            <div class="color-picker selector">
            </div>
          </div>
          <button class="bar" type="button" id="submit-mood">emote</button>
        </form>
      </div>
      <div class="mood-index">
      </div>
    </div>
	</body>
</html>