<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mood Ring</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<script data-main="static/js/main" src="static/js/lib/require.js"></script>
	</head>
	<body>
    <div class="container">
      <div class="picker">
        <form id="mood-picker">
          <input type="text" name="mood[name]" placeholder="mood"></input>
          <div class="preview">
          </div>
          <div class="shade-selector">
            <canvas id="shade-canvas">
            </canvas>
            <div class="shade-picker">
            </div>
          </div>
          <div class="color-selector">
            <canvas id="color-canvas">
            </canvas>
            <div class="color-picker">
            </div>
          </div>
          <button type="button" id="submit-mood">feel</button>
        </form>
      </div>
    </div>
	</body>
</html>